name: build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
          node-version: 20.x
    - uses: zauguin/install-texlive@v4
      with:
        packages: >
          l3build latex latex-bin luatex latex-bin-dev
    - uses: astral-sh/setup-uv@v7
    - run: uv python install 3.14
    - run: uv tool install mystmd
    - run: |
        cd examples
        myst build --pdf
